*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #1a1814;
    color: #cda45e;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 45px;
    height: 45px;
    margin: 0 15px 0 15px;
    border-radius: 30px;
}

.brand h2 {
    letter-spacing: 3px;
}

.nav-menu ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    gap: 35px;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.nav-menu ul li a:hover {
    color: #cda45e;
    background-color: #1a1814;
    border-radius: 5px;
}

/* Hero Image */
.hero-container {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    /* For text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hreo-text{
    font-size: 20em;
    font-weight: bold;
}

.hero-text p {
    margin: 20px 0;
}

.types{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}

.types-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.type-img {
    width: 100%;
}



